<!DOCTYPE html>
<html>
  <head>
    <title>Add Course</title>
    <link rel="stylesheet" th:href="@{/form.css}" />
  </head>
  <body>
    <div class="topnav">
      <a th:href="@{/}">Add Grade</a>
      <a th:href="@{/grades}">Grades</a>
      <a th:href="@{/addstudent}">Add Student</a>
      <a th:href="@{/students}">Students</a>
      <a th:href="@{/addcourse}">Add Course</a>
      <a th:href="@{/courses}">Courses</a>
    </div>
    <div class="container">
      <h2>Add Course</h2>
      <form method="post" th:object="${course}" th:action="@{/courseSubmit}">
        <input type="text" placeholder="Course Name" th:field="*{name}" />
        <p style="color: red" th:errors="*{name}"></p>
        <input type="hidden" th:field="*{id}" />
        <br /><br />
        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
