<!DOCTYPE >
<html>
  <head>
    <title>Courses</title>
    <link rel="stylesheet" th:href="@{/grades.css}" />
  </head>
  <body>
    <div class="topnav">
      <a th:href="@{/}">Add Grade</a>
      <a th:href="@{/grades}">Grades</a>
      <a th:href="@{/addstudent}">Add Student</a>
      <a th:href="@{/students}">Students</a>
    </div>

    <div class="container">
      <p th:if="${message}" th:text="${message}"></p>
      <h2>Courses</h2>
      <table id="table">
        <tr>
          <th>Subject</th>
        </tr>
        <tr th:each="course : ${courses}">
          <td th:text="${course.name}"></td>
          <!-- <td>
            <a class="update" role="button" th:href="@{/(id=${grade.id})}"
              >Update</a
            >
          </td> -->
          <!-- <td>
            <a class="update" role="button" th:href="@{/delete(id=${grade.id})}"
              >Delete</a
            >
          </td> -->
        </tr>
      </table>
    </div>
  </body>
</html>
