<!DOCTYPE html>
<html>
  <head>
    <title>Form</title>
    <link rel="stylesheet" th:href="@{/form.css}" />
  </head>
  <body>
    <div class="topnav">
      <a th:href="@{/}">Add Grade</a>
      <a th:href="@{/grades}">Grades</a>
      <a th:href="@{/addstudent}">Add Student</a>
      <a th:href="@{/students}">Students</a>
    </div>
    <div class="container">
      <h2>Grade Portal</h2>
      <form method="post" th:object="${grade}" th:action="@{/handleSubmit}">
        <select id="student" name="student" th:field="*{student}">
          <option value="" disabled selected>Select a student</option>
          <option
            th:each="student : ${students}"
            th:value="${student.studentId}"
            th:text="${student.firstName} + ' '+${student.lastName}"
          ></option>
        </select>
        <input type="text" placeholder="Score" th:field="*{score}" />
        <select id="course" name="course" th:field="*{course}">
          <option value="" disabled selected>Select a course</option>
          <option
            th:each="course : ${courses}"
            th:value="${course.id}"
            th:text="${course.name}"
          ></option>
        </select>
        <input type="hidden" th:field="*{id}" />
        <br /><br />
        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
