<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1
      th:text="${#strings.contains(menu,'meat')} ? 'We have bubbles':'We don\'t have bubbles'"
    ></h1>

    <ul>
      <li th:text="${#strings.substring(name,0,1)}"></li>
      <li th:text="${#strings.substring(name,0,2)}"></li>
      <li th:text="${#strings.substring(name,0,3)}"></li>
      <li th:text="${#strings.substring(name,0,4)}"></li>
      <li th:text="${#strings.substring(name,0,5)}"></li>
      <li th:text="${#strings.substring(name,0,6)}"></li>
    </ul>
  </body>
</html>
